html {
  font-size: 16px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body {
  background: #f6f6f6;
  margin-bottom: 2em;
}

b, strong {
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, sans-serif;
  font-weight: 900;
}

p {
  line-height: 2em;
  margin: 0 0 2em 0;
}

a {
  color: #0088cc;
}

a:hover, a:focus {
  color: #005580;
}

.header {
  height: 90px;
  border-bottom: 2px solid #f1f1f1;
  margin-bottom: 2em;
  background: #fff;
  position: relative;
}

.header .title {
  float: left;
}

.header .title img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  float: left;
  margin: 25px 16px 0 0;
}

.header .title a {
  float: left;
  text-decoration: none;
  color: #000;
  line-height: 90px;

}

.header .title a:hover {
  color: #0088cc;
}

.header .menu {
  float: right;
  display: none;
}

.header .menu a {
  text-decoration: none;
  padding-left: 16px;
  line-height: 90px;
  color: #000;
}

.header .menu a:hover {
  color: #0088cc;
}

.menu-button {
  float: right;
  margin-top: 33px;
}

.menu-button span {
  width: 32px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #000;
  display: block;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

h2 small {
  display: block;
  font-weight: normal;
  font-size: 0.6em;
  color: #999;
}

h2 a {
  text-decoration: inherit;
  color: inherit;
}

h2 a:hover {
  text-decoration: underline;
}

.article {
  border-bottom: 1px #e1e1e1 solid;
  margin-bottom: 2em;
}

dt {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

dt small {
  display: block;
  color: #999;
}

dd {
  margin-bottom: 1.5em;
}

ol, ul {
  line-height: 2em;
  margin: 0 0 2em 0;
}

.cv-details {
  xfloat: left;
  margin-bottom: 1em;
}

.cv-details span {
  font-size: 1.2em;
}

.cv-summary {
  xfloat: right;
  xmax-width: 60%;
}

.clearfix {
  clear: both;
}

/*---------------------------------------------------
  Desktop
---------------------------------------------------*/
@media all and (min-width: 1024px) {
  .wrap {
    width: 1008px;
  }
  .cv-details {
    float: left;
    margin-bottom: 0;
  }
  .cv-summary {
    float: right;
    max-width: 60%;
  }
}

@media all and (min-width: 770px) {
  .header .menu {
    display: block;
  }
  .menu-button {
    display: none;
  }
  .lead {
    font-size: 2em;
    line-height: 1.4em;
    margin-bottom: 1em;
  }
  h2 small {
    display: inline;
    margin-left: 1em;
  }
  dt small {
    display: inline;
    margin-left: 1em;
  }
}