<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $('nav#menu-right').mmenu({
          position: 'right'
        });
      });
    </script>
    <link rel="stylesheet" href="/css/mmenu.css">
  </head>
  <body>
    <div class="main">
      <div class="header">
        <div class="wrap">
          <div class="title">
            <img src="http://www.gravatar.com/avatar/cde64f52a3c68914b17d825d89547611?s=40" alt="Matthew Capewell">
            <a href="/">{{ site.name }}</a>
          </div>
          <div class="menu">
            <a href="/blog">My Blog</a>
            <a href="/cv">My CV</a>
            <a href="https://github.com/mcapewell">GitHub</a>
          </div>
          <a href="#menu-right" class="menu-button">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>

      {{ content }}

      <nav id="menu-right">
        <ul>
          <li {% if page.url == '/index.html' %}class="Selected"{% endif %}><a href="/">Home</a></li>
          <li {% if page.url == '/blog/index.html' %}class="Selected"{% endif %}><a href="/blog">My Blog</a></li>
          <li {% if page.url == '/cv/index.html' %}class="Selected"{% endif %}><a href="/cv">My CV</a></li>
          <li><a href="https://github.com/mcapewell">GitHub</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>